[Unit]
Description= login-monitor server
ConditionFileIsExecutable=/usr/bin/login_monitor

[Service]
Type=dbus
BusName=com.kylin.intel.edu.uregis
ExecStart=/usr/bin/login_monitor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

